<!-- this title is coming from the ngOnInit this.title  from the customers component -->
<!-- we can also bind values into the html to get the same result
      <h1 [innerHTML]="title"></h1>-->
<h1>{{ title }}</h1>

<!-- the customers is the input property that we just created within the customers list
      we are getting the data from the parent, in this case the people property, and have it passed
      down into the child component which is the app-customers-list by using the input property-->
<app-customers-list [customers]="people"></app-customers-list>